.Note {
  transform: rotate(var(--rotate-angle));
  width: calc(var(--size-onePage) / 2.2);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  background: var(--note-color-bg);
  border-radius: var(--size-border-radius);
  --size-corner: 10%;
}
.Note::before {
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  width: var(--size-corner);
  aspect-ratio: 1/1;
  background: var(--note-color-bg);
  filter: contrast(50%);
  align-self: flex-end;
  border-radius: var(--size-border-radius) 0 0 0;
}
.Note::after {
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  background: var(--color-light);
  height: calc(var(--sqrt2) * var(--size-corner));
  aspect-ratio: 1/1;
  transform: translate(50%, 50%) rotate(45deg);
}

.Note-input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  color: var(--note-color-text);
  font-size: 1rem;
}
.Note-input:focus {
  outline: none;
}

.Note-container {
  width: 100%;
  height: 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* PIN */
/*
content: '';
position: absolute;
left: 50%;
transform: scale(50%) translate(-100%, 0);
border-radius: 50%;
height: 100%;
background: var(--note-color-pin);
aspect-ratio: 1/1;
 */
.Note-container::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: scale(50%) translate(-100%, 0);
  border-radius: 50%;
  height: 100%;
  background: var(--note-color-pin);
  aspect-ratio: 1/1;
}
.Note-container > * {
  height: 100%;
}

.Note-icon .icon path {
  fill: var(--note-color-bg);
  filter: contrast(50%);
}
.Note-icon:hover .icon path {
  filter: contrast(0%);
}

.Note-navigate {
  display: flex;
}
.note-lift-icon {
  transform: rotate(180deg);
}
