@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

@font-face {
    font-family: KatahdinRound;
    src: url("./fonts/KatahdinRound.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {

  --color-light: #DDDDDD;
  --color-dark: #222831;
  --color-white: #fff;
  --color-black: #000;

  --color-red: #F05454;
  --color-blue: #30475E;

  --note-color-bg: #BBBBBB;
  --note-color-text: #444;

  /* --color-light: #333;
  --color-dark: #bcbcbc;
  --color-white: #444;
  --color-black: #fff;

  --color-red: #ffb9b0;
  --color-blue: #8aa0bb;

  --note-color-bg: #222;
  --note-color-text: #999; */

  --size-mark: 60%;
  --size-onePage: 500px;
  --size-banner: 50px;
  --size-border-radius: 5px;

  --sqrt2: 1.41421356237;

  --border: 2px solid var(--color-dark);
}

a {
  text-decoration: none;
}

h1 {
  color: var(--color-dark);
  font-size: 2.2rem;
  position: relative;
}

.App {
  height: 100vh;
  width: 100%;
}
.Scene {
  background: var(--color-white);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-scene {
  user-select: none;
  width: calc(36px + var(--size-banner));
  height: var(--size-banner);
  position: absolute;
  bottom: 12px;
  left: 0;
  padding: 0 24px 0 12px;
  background: linear-gradient(90deg, var(--color-white) 0% 75%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
}
.switch-scene svg {
  transform: scale(60%);
}
.switch-scene path {
  fill: var(--color-black);
  opacity: .5;
}
